<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>GROUPS</title>
</head>
<body>
    <header>
        <h1>NAMA KELOMPOK</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('groups') }}">Nama Kelompok</a></li>
            <li><a href="{{ url_for('about') }}">Tentang Kelompok</a></li>
        </ul>
    </nav>
    <section>
        <center><h2>KELOMPOK 4</h2></center>
        <center>
            1. NAVAZ PUTRA          (21.83.0684)
        </center>
        <center>
            2. PRIMA PRIMUDYA SANDY (21.83.0668)
        </center>
        <center>
            3. DWI SAKTI            (21.83.0694)
        </center>
        <center>
            4. FAHRUDIN NUR LATIF   (21.83.0666)
        </center>
    </section>
</body>
</html>
